.boundary-login {
    background-color: #242446;
    border: 3px solid #eff3f3;
    border-radius: 34px;
    padding: 35px;
}
input::placeholder {
    color: #bcbcbc; /* Change to your desired color */
    opacity: 1; /* Ensures the color is fully applied */
}
.input-copy:hover {
    border-color: #bcbcbc !important;
}
.w-input:focus, .w-select:focus {
    border-color: #bcbcbc !important;
    outline: 0;
}

.input-copy.new:focus {
    border-color: #bcbcbc !important;
}
.input-copy:focus {
    border-color: #bcbcbc !important;
    color:#bcbcbc !important;
}
.btnpading {
    padding: 35px;
}