<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-9">
            <div class="boundary-login my-5">
                <div class="card card bg-transparent border-0">
                    <div class="card-body text-center">
                        <img src="Images/iconlogo.png" />

                        <h2 class="display2 ">Welcome back</h2>
                        <p class="color-neutral-400">Please enter your email and password to sign in.</p>
                        <div class="co-12"><input maxlength="256" name="Name-4" data-name="Name 4"
                                placeholder="Enter your email" type="text" id="Name-4" required=""
                                class="bg-transparent input-copy new w-input color-neutral-400"></div>
                        <div class="co-12 mt-3">
                            <input maxlength="256" name="Name-4" data-name="Name 4" placeholder="Enter your password"
                                type="password" id="Name-4" required=""
                                class="bg-transparent input-copy new w-input color-neutral-400">
                            <div class="d-flex">
                            </div>
                            <div class="co-12 mt-3">
                                <div class="d-flex">
                                    <label><input type="checkbox" /> Remember me</label><a
                                        class="ms-auto text-info1"><u>Forgot
                                            password?</u></a>
                                </div>
                            </div>
                            <div class="co-12 mt-3">
                                <input type="submit" data-wait="Submit"
                                    id="w-node-_50bc31af-7d59-5575-bbb5-674de4c6adc6-dba98d03" value="Sign In"
                                    class="btn-primary text-dark w-button bg-info1 w-100 btnpading">
                            </div>
                            <div class="col-12 mt-3">
                                <div class="or-divider">
                                    <span class="or-text">OR</span>
                                </div>
                            </div>
                            <div class="co-12 mt-3">
                                <button class="btn-primary text-dark w-button bg-info1 w-100 btnpading"><img
                                        src="Images/google.svg" width="24" class="me-3" /> Sign in with Google</button>
                            </div>

                            <div class="co-12 mt-3">
                                <button class="btn-primary text-dark w-button bg-info1 w-100 btnpading"><img
                                        src="Images/facebook.svg" width="24" class="me-3" /> Sign in with
                                    facebook</button>
                            </div>
                            <div class="co-12 mt-3">
                                <p class="textwhite">Don't have an account? <a href="/signup" class="text-info1"><u>Sign
                                            up today.</u></a></p>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



