.boundary-login {
    background-color: #262746;
    border: 3px solid #eff3f3;
    border-radius: 34px;
    padding: 35px;
}
input::placeholder {
    color: #bcbcbc; /* Change to your desired color */
    opacity: 1; /* Ensures the color is fully applied */
}
.input-copy:hover {
    border-color: #bcbcbc !important;
}
.w-input:focus, .w-select:focus {
    border-color: #bcbcbc !important;
    outline: 0;
}

.input-copy.new:focus {
    border-color: #bcbcbc !important;
}
.input-copy:focus {
    border-color: #bcbcbc !important;
    color:#bcbcbc !important;
}
.btnpading {
    padding: 35px;
}
.or-divider {
    display: flex;
    align-items: center;
    text-align: center;
}

.or-divider::before,
.or-divider::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid gray;
}

.or-divider:not(:empty)::before {
    margin-right: 10px;
}

.or-divider:not(:empty)::after {
    margin-left: 10px;
}

.or-text {
    font-weight: bold;
    color: #f2efef; /* Adjust color as needed */
}