<div class="container  scroll-container">
  <!-- app.component.html -->

  <div class="row justify-content-center">
  
    
    <div  #scrollItem class="inner-container1 mb-5 pb-4 text-center scroll-item">
      <h1 class="display1 mt-3 textwhite"><sub class="subscript">Goodbye manual processes. Hello secure, automated
          solutions. </sub></h1>
      <p class="paragraph-large mg-bottom-40px max-w-812px text-white mt-4">Encrypted cloud-based software delivering
        efficient <br>customer interactions for lenders, insurers and advisers.</p>
      <div class="mb-3 d-flex justify-content-center">
        <div><a href="#book-a-demo" class="btn btn-primary  rounded-pill text-dark btndownload-app"
            style="font-weight:700">Book a Demo</a></div>
      </div>
    </div>
    <div class="container  mb-3   scroll-item"  #scrollItem  id="sFection2">
      <div class="row justify-content-center mg-bottom-32px">
        <div class="col-md-6 mb-5">
          <img src="Images/oursolution.jpg" style="border-radius: 64px;" class="w-100 h-100 border-radius-64px" />
        </div>
        <div class="col-md-6 ps-lg-5">
          <h2 class="display2 text-white">Our solutions</h2>
          <p class=" textwhite subtitlefont  mg-bottom-32px">Designed to automate processes with speed, security and accuracy.</p>
          <div class="d-flex align-items-center mg-bottom-32px">
            <div class="icon-list">
              <img src="Images/icon1.svg" />
            </div>
            <div class="max-w-416px">
              <h1 class="heading-h3-size mg-bottom-4px text-white">Automation </h1>
              <div class="paragraph color-neutral-400">Completes the work performed by up to 90% of FTEs, optimising
                efficiency and costs. </div>
            </div>
          </div>
          <div class="d-flex align-items-center mg-bottom-32px">
            <div class="icon-list">
              <img src="Images/icon2.svg" />
            </div>
            <div class="max-w-416px">
              <h1 class="heading-h3-size mg-bottom-4px textwhite">Encryption </h1>
              <div class="paragraph color-neutral-400">Built with industry best practices in mind, featuring end-to-end encryption to ensure secure data handling. </div>
            </div>
          </div>
          <div class="d-flex align-items-center mg-bottom-32px">
            <div class="icon-list">
              <img src="Images/icon3.svg" />
            </div>
            <div class="max-w-416px">
              <h1 class="heading-h3-size mg-bottom-4px textwhite">Retention </h1>
              <div class="paragraph color-neutral-400">Offers a modern, seamless customer experience increasing
                overall satisfaction. </div>
            </div>
          </div>
          <div class="d-flex align-items-center">
            <div class="icon-list">
              <img src="Images/icon4.svg" />
            </div>
            <div class="max-w-416px">
              <h1 class="heading-h3-size mg-bottom-4px textwhite">Compliance </h1>
              <div class="paragraph color-neutral-400">Minimises manual errors through intelligent data entry and
                document verification tools - reducing risk of non-compliance.</div>
            </div>
          </div>

        </div>

      </div>
    </div>
</div>
</div>
<div class="container-fluid scroll-item p-0 m-0"  #scrollItem  style="background-color: #3fd6d4;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <h1 class="h2-quote mt-3 textwhite" style="color: #262746 !important;">Cut operational costs with AI-powered
          self-service solutions.</h1>
        <div class="mb-3 mt-5 d-flex justify-content-center">
          <div><a href="#book-a-demo" class="btn btn-light  rounded-pill btndownload-app  text-dark"
              style="font-weight:700">Book a Demo</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="tabs" class="container  tabs scroll-item py-5"  #scrollItem>
  <div class="container-default">
    <div class="text-center mg-bottom-56px">
      <div class="row justify-content-center">
        <div class="col-xl-11">
          <h2 class="display2 text-center">Redefine your customer interactions
            with speed and accuracy. </h2>
        </div>
      </div>
    </div>
    <div>
      <div class="text-center mt-4">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-12">

          </div>
          <div class="col-lg-6 col-md-6 col-12">
            <ul class="nav nav-pills mb-3 tabs-menu w-tab-menu" id="pills-tab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="tabs-link w-inline-block w-tab-link active" id="pills-home-tab" data-bs-toggle="pill"
                  data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                  aria-selected="true">Lenders</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="tabs-link w-inline-block w-tab-link" id="pills-profile-tab" data-bs-toggle="pill"
                  data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
                  aria-selected="false">Insurers</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="tabs-link w-inline-block w-tab-link" id="pills-contact-tab" data-bs-toggle="pill"
                  data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact"
                  aria-selected="false">Advisers</button>
              </li>
            </ul>

          </div>
          <div class="col-lg-3 col-md-3 col-12"></div>
          <div class="col-12 col-lg-12 col-md-12">
            <div class="container-fluid pt-4">

              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active scroll-item" #scrollItem id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                  <div class="row">
                    <div class="col-12 col-lg-6">
                      <div class="Header1 text-left">
                        <h1 class="display2 text-white">
                          Lenders
                        </h1>
                        <p class="paragraph  mg-bottom-32px text-white">Deliver faster loan approvals for your customers with ease.
                        </p>
                      </div>
                      <div class="d-flex align-items-center text-left mg-bottom-32px">
                        <div class="icon-list">
                          <img src="Images/icon5.svg" />
                        </div>
                        <div class="max-w-416px">
                          <h1 class="heading-h3-size mg-bottom-4px textwhite">Minimise deferrals </h1>
                          <div class="paragraph color-neutral-400">Sensitive documents undergo automated verification
                            prior to application submission.</div>
                        </div>
                      </div>

                      <div class="d-flex align-items-center text-left mg-bottom-32px">
                        <div class="icon-list">
                          <img src="Images/icon5.svg" />
                        </div>
                        <div class="max-w-416px">
                          <h1 class="heading-h3-size mg-bottom-4px textwhite">AML/KYC automation </h1>
                          <div class="paragraph color-neutral-400">Streamline AML/KYC and credit checks with full
                            automation and zero manual intervention.</div>
                        </div>
                      </div>

                      <div class="d-flex align-items-center text-left mg-bottom-32px">
                        <div class="icon-list">
                          <img src="Images/icon5.svg" />
                        </div>
                        <div class="max-w-416px">
                          <h1 class="heading-h3-size mg-bottom-4px textwhite">Distribution flexibility </h1>
                          <div class="paragraph color-neutral-400">Reach faster decisions, whether applications come
                            directly from customers or via advisers.</div>
                        </div>
                      </div>

                      <div class="d-flex align-items-center text-left mg-bottom-32px">
                        <div class="icon-list">
                          <img src="Images/icon5.svg" />
                        </div>
                        <div class="max-w-416px">
                          <h1 class="heading-h3-size mg-bottom-4px textwhite">Loan managemenet </h1>
                          <div class="paragraph color-neutral-400">End-to-end loan management for a seamless and secure
                            customer &amp; adviser experience.</div>
                        </div>
                      </div>

                    </div>
                    <div class="col-12 col-lg-6">
                      <div class="flex-vertical height-100"><img class="image border-radius-64px fit-cover height-100"
                          width="1413" alt="" src="Images/Lenders.jpg" style="object-position: 35% 50%;">
                      </div>
                    </div>
                  </div>

                </div>
                <div class="tab-pane fade scroll-item" #scrollItem id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                  <div class="row container">
                    <div class="col-12 col-lg-6">
                      <div class="Header1 text-left">
                        <h1 class="display2 text-white">
                          Insurers
                        </h1>
                        <p class="paragraph mg-bottom-32px text-white">Scale customer growth and satisfaction with automated
                          solutions.</p>
                      </div>
                      <div class="d-flex align-items-center text-left mg-bottom-32px">
                        <div class="icon-list">
                          <img src="Images/icon5.svg" />
                        </div>
                        <div class="max-w-416px">
                          <h1 class="heading-h3-size mg-bottom-4px textwhite">Customer portal</h1>
                          <div class="paragraph color-neutral-400">Easy to use self-service portals for sharing,
                            reviewing, and updating essential information.</div>
                        </div>
                      </div>
                      <div class="d-flex align-items-center text-left mg-bottom-32px">
                        <div class="icon-list">
                          <img src="Images/icon5.svg" />
                        </div>
                        <div class="max-w-416px">
                          <h1 class="heading-h3-size mg-bottom-4px textwhite">Arrears recovery</h1>
                          <div class="paragraph color-neutral-400">Automate arrears repayment plans to recover missed
                            premiums and prevent policy lapses.</div>
                        </div>
                      </div>
                      <div class="d-flex align-items-center text-left mg-bottom-32px">
                        <div class="icon-list">
                          <img src="Images/icon5.svg" />
                        </div>
                        <div class="max-w-416px">
                          <h1 class="heading-h3-size mg-bottom-4px textwhite">Claim decisions</h1>
                          <div class="paragraph color-neutral-400">Accelerate claims processing for faster approvals and
                            happier customers.</div>
                        </div>
                      </div>
                      <div class="d-flex align-items-center text-left mg-bottom-32px">
                        <div class="icon-list">
                          <img src="Images/icon5.svg" />
                        </div>
                        <div class="max-w-416px">
                          <h1 class="heading-h3-size mg-bottom-4px textwhite">Adviser integration</h1>
                          <div class="paragraph color-neutral-400">Seamless integration with advisers to deliver fast,
                            effective decisions for your mutual customers.</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-lg-6">
                      <div class="flex-vertical height-100"><img class="image border-radius-64px fit-cover height-100"
                          width="1413" alt="" src="Images/insurrer.jpg">
                      </div>
                    </div>
                  </div>

                </div>
                <div class="tab-pane fade scroll-item" #scrollItem id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                  <div class="row container">
                    <div class="col-12 col-lg-6">
                      <div class="Header1 text-left">
                        <h1 class="display2 text-white">
                          Advisers
                        </h1>
                        <p class="paragraph mg-bottom-32px text-white">Reduce manual tasks and drive customer growth and satisfaction.</p>
                      </div>
                      <div class="d-flex align-items-center text-left mg-bottom-32px">
                        <div class="icon-list">
                          <img src="Images/icon5.svg" />
                        </div>
                        <div class="max-w-416px">
                          <h1 class="heading-h3-size mg-bottom-4px textwhite">Faster approvals </h1>
                          <div class="paragraph color-neutral-400">Simplifies the process of submitting applications, reducing errors and speeding up approvals.</div>
                        </div>
                      </div>  
                      <div class="d-flex align-items-center text-left mg-bottom-32px">
                        <div class="icon-list">
                          <img src="Images/icon5.svg" />
                        </div>
                        <div class="max-w-416px">
                          <h1 class="heading-h3-size mg-bottom-4px textwhite">Scalable Growth</h1>
                          <div class="paragraph color-neutral-400">Streamline customer managemenet by digitally centralising their data, documents and communications.</div>
                        </div>
                      </div>  
                      <div class="d-flex align-items-center text-left mg-bottom-32px">
                        <div class="icon-list">
                          <img src="Images/icon5.svg" />
                        </div>
                        <div class="max-w-416px">
                          <h1 class="heading-h3-size mg-bottom-4px textwhite">Renewals & refixes</h1>
                          <div class="paragraph color-neutral-400">Automated review process enables you to assist customers in making timely, informed decisions.</div>
                        </div>
                      </div>  

                      <div class="d-flex align-items-center text-left mg-bottom-32px">
                        <div class="icon-list">
                          <img src="Images/icon5.svg" />
                        </div>
                        <div class="max-w-416px">
                          <h1 class="heading-h3-size mg-bottom-4px textwhite">Task automation</h1>
                          <div class="paragraph color-neutral-400">Ensure accuracy and eliminate repetitive data entry across multiple forms and spreadsheets.</div>
                        </div>
                      </div>  

                      

                    </div>
                    <div class="col-12 col-lg-6">
                      <div class="flex-vertical height-100"><img class="image border-radius-64px fit-cover height-100"
                          width="1413" alt="" src="Images/Advisers.jpg">
                      </div>
                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<div class=" btm-50 scroll-item py-5" #scrollItem>
  <div class="container-default">
    <div class="boundary-wrapper">
      <div class="abc _700px---tablet center">
        <div class="image-and-text-left-wrapper">
         <div class="row">
          <div class="col-lg-6">
            <div class="abc _600px---mbl">
              <div>
                <div class="abc _500px---tablet">
                  <div class="abc _400px---mbl">
                    <div class="flex-horizontal justify-left gap-16">
                      <div class="subtitle textwhite">Pricing and integration</div>
                      <div class="div-bar"></div>
                    </div>
                    <h2 class="display2">Flexible plans, ready for you yesterday.</h2>
                  </div>
                </div>
                <p class="paragraph mg-bottom-32px" style="font-size: 18px;">At bluemint, we believe pricing should be as
                  flexible as your business needs.
                  That’s why we offer bespoke pricing plans tailored to businesses of all sizes.
                  Whether you're a boutique advisory or an established bank or insurer,
                  our flexible tiers and benefits are designed to grow with you,
                  allowing your business to scale at its own pace.<br><br>
                  Seamlessly integrate our solutions into your existing systems.
                  It's simple and hassle-free. For peace of mind, we provide
                  you with 24/7 ongoing support to help you every leap of the way. &nbsp;
                </p>
                <div class="mb-3 mt-5 d-flex justify-content-left">
                  <div><a href="#book-a-demo" class="btn btn-light  rounded-pill btndownload-app  text-dark"
                      style="font-weight:700">Get in touch</a></div>
                </div>
              
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="abc image-and-text-right---image h-100">
              <div class="flex-vertical height-100">
                <img class="image border-radius-64px fit-cover height-100 price" src="Images/Pricing.jpg" alt=""
                  style="opacity: 1;">
              </div>
            </div>
          </div>
         </div>
        
          
        </div>
        <div class="image-and-text-left-wrapper hide">
          <div class="abc _600px---mbl">
            <div class="abc _628px _100---tablet">
              <div class="abc _500px---tablet">
                <div class="abc _400px---mbl">
                  <h2 class="display2">I am a.... &nbsp;</h2>
                </div>
              </div>
              <p class="paragraph mg-bottom-32px">Streamlined compliance and automation for effortless risk management.
              </p>
              <div class="w-layout-grid grid-1-column gap-row-48px">
                <div class="icon-list-item-wrapper align-start">
                  <img src="Images/reports.svg" alt="Monthly &amp; Weekly Reports - Aptonic X Webflow Template"
                    class="icon-list">
                  <div class="max-w-416px">
                    <h1 class="heading-h3-size mg-bottom-4px">AML and credit checks</h1>
                    <div class="paragraph color-neutral-400">
                      <span class="text-no-wrap">Built in compliance tools for risk management.</span>
                    </div>
                  </div>
                </div>
                <div class="icon-list-item-wrapper align-start">
                  <img src="Images/history.svg" alt="Transaction History - Aptonic X Webflow Template"
                    class="icon-list">
                  <div class="max-w-416px">
                    <h1 class="heading-h3-size mg-bottom-4px">Automated reviews and refixes</h1>
                    <div class="paragraph color-neutral-400">Save time with proactive process automation so no small
                      detail is overlooked. </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="abc image-and-text-left---image">
            <div class="flex-vertical height-100">
              <img src="https://cdn.prod.website-files.com/plugins/Basic/assets/placeholder.60f9b1840c.svg"
                loading="lazy" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="book-a-demo" class="my-5 py-5 small scroll-item py-5" #scrollItem>
  <div class="container-default w-container">
    <div class="cta-card-copy v1">
      <div class="split-content cta-card-v1-image">
        <div class="cta-mockup-wrapper">
          <img src="Images/mobile.png" alt=""
            sizes="(max-width: 479px) 92vw, (max-width: 767px) 90vw, (max-width: 991px) 620px, (max-width: 1439px) 48vw, 620px"
            class="image fit-cover">
        </div>
      </div>
      <div style="opacity: 1;" class="split-content cta-right">
        <div class="text-center---tablet">
          <h2 class="display2">
            <span class="text-span">Automate slow and costly processes.</span> Delight your customers.
          </h2>
          <div class="color-neutral-100">
            <p class="max-w-570px mg-bottom-40px _100---tablet _450"
              style="    font-size: 18px !important;font-weight: 400;color: #262746 !important;">
              Keen to know more? We’re keen to share more. <br>Get in touch.</p>
          </div>
          <div class="buttons-row gap-24px center---tablet hide">
            <div><a href="https://www.apple.com/"
                class="btn-primary download-app white hover-color-neutral-700 w-inline-block">
                <div class="social-icon-font button-left"></div>
                <div>Download for iOS</div>
              </a>
            </div>
            <a href="https://play.google.com/"
              class="btn-primary download-app white hover-color-neutral-700 w-inline-block">
              <div class="social-icon-font mg-right-8px"></div>
              <div>Download for Android</div>
            </a>
          </div>
        </div>
        <div class="card form contact-form-v1 trans w-form">
                                  <form [formGroup]="supportform" (ngSubmit)="support()">
                   <div class="col-12 w-100"><div *ngIf="isError" class="alert alert-danger w-100">{{ errorMessage }}</div>
          <div *ngIf="isSuccess" class="alert alert-success w-100">{{ successMessage }}</div>
</div>
         
          <div id="email-form" name="email-form" aria-label="Email Form">
            <div class="w-layout-grid grid-2-columns contact-form space">
              <div>
                <input class="input-copy new w-input" formControlName="fullname" maxlength="256" name="Name-4" data-name="Name 4"
                  placeholder="Full Name" type="text" id="Name-4" required="">
              </div>
              <div>
                <input class="input-copy new w-input" formControlName="company" maxlength="256" name="Company" data-name="Company"
                  placeholder="Company" type="text" id="Company">
              </div>
              <div>
                <input class="input-copy new w-input" formControlName="contactnumber" maxlength="256" name="Phone-4" data-name="Phone 4"
                  placeholder="Contact number" type="tel" id="Phone-4" required="">
              </div>
              <div>
                <input class="input-copy new w-input" formControlName="email" maxlength="256" name="Email-4" data-name="Email 4"
                  placeholder="Email" type="email" id="Email-4" required="">
              </div>
         <div class="col-12">
               <input type="submit" *ngIf="!isSubmit"  data-wait="Submit" style="width: 50%;font-size: 17px;" class="btn-primary white white-text w-button submitbtn"
                value="Submit">
                   <input type="submit" *ngIf="isSubmit" disabled data-wait="Submit" style="width: 50%;font-size: 17px;" class="btn-primary white white-text w-button submitbtn disabled"
                value="Submit">
             </div>
            </div>
            <div>
              <div>
                <input type="hidden" name="cf-turnstile-response" id="cf-chl-widget-dxexi_response">
              </div>
            </div>
            <div class="success-message w-form-done" tabindex="-1" role="region" aria-label="Email Form success">
              <div>
                <div class="line-rounded-icon success-message-check large"></div>
                <h2>Thank you</h2>
                <div>Your message has been submitted. <br>We will get back to you within <span
                    class="text-no-wrap">24-48 hours.</span>
                </div>
              </div>
            </div>
            <div class="error-message w-form-fail" tabindex="-1" role="region" aria-label="Email Form failure">
              <div>Oops! Something went wrong while submitting the form.</div>
            </div>
          </div>
                                  </form>
        </div>

      </div>
    </div>
  </div>
</div>