.boundary-signup {
    background-color: var(--button-shadow--color-01);
    border: 3px solid #eff3f3;
    border-radius: 34px;
    
}
input::placeholder {
    color: #bcbcbc; /* Change to your desired color */
    opacity: 1; /* Ensures the color is fully applied */
}
.input-copy:hover {
    border-color: #bcbcbc !important;
}
.display2 {
    margin-top: 0;
    font-size: 34px !important;
    font-weight: 700;
    line-height: 1.167em;
    color: whitesmoke;
}
.or-divider {
    display: flex;
    align-items: center;
    text-align: center;
}

.or-divider::before,
.or-divider::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid gray;
}

.or-divider:not(:empty)::before {
    margin-right: 10px;
}

.or-divider:not(:empty)::after {
    margin-left: 10px;
}

.or-text {
    font-weight: bold;
    color: #333; /* Adjust color as needed */
}

.nav-arrows {
    display: flex;
    align-items: center;
    gap: 10px; /* Spacing between arrows */
    justify-content: center;
    margin-top: 50px;
}

.arrow-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.arrow-left {
    background: rgba(255, 255, 255, 0.1);
    color: black;
}

.arrow-right {
    background: black;
    color: white;
}

.arrow-btn:hover {
    opacity: 0.8;
}