<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-10 col-md-12">
            <div class="boundary-signup my-5">
                <div class="card card bg-transparent border-0">
                    <div class="card-body text-center">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card border-0 bg-transparent p-md-5">
                                    <h2 class="display2 mt-3 text-left">Create Account</h2>
                                    <p class="text-white text-left">Nulla nunc leo penatibus magna dolor fringilla
                                        malesuada dictumst
                                        venenatis semper tristique scelerisque sed egestas aliquam montes purus dui
                                        elementum lorem volutpat.</p>
                                    <div class="card mt-5" style="background-color: #000000;border-radius: 25px;">
                                        <div class="card-body">
                                            <p style="color: #232344;" class="text-left"><b>“A truly great Finance
                                                    app”</b></p>
                                            <p class="text-white text-left">Quis orci curabitur tempus ac fringilla
                                                quisque. In vitae lectus dictum ultricies id iaculis rhoncus luctus
                                                morbi placerat odio felis gravida velit massa malesuada fames faucibus
                                                nibh ornare nunc.</p>
                                            <div class="text-left">
                                                <div class="d-flex">
                                                    <img src="Images/marie.jpg" class="rounded-circle"
                                                        style="border-radius: 25px;" width="55" class="me-3" />
                                                    <p>
                                                        <span style="color: #232344;">John Carter</span><br>
                                                        <span class="text-white">San Francico,CA</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="container d-flex justify-content-center">
                                        <div class="nav-arrows">
                                            <div class="arrow-btn arrow-left">&#8592;</div>  <!-- Left Arrow -->
                                            <div class="arrow-btn arrow-right">&#8594;</div> <!-- Right Arrow -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card" style="background-color: #000000;border-radius: 25px; padding: 11px;">
                                    <div class="card-body">
                                        <div class="col-12"><input maxlength="256" name="Name-4" data-name="Name 4"
                                                placeholder="Enter full name" type="text" id="Name-4" required=""
                                                class="bg-transparent input-copy new w-input color-neutral-400">
                                        </div>
                                        <div class="col-12 mt-3"><input maxlength="256" name="Name-4" data-name="Name 4"
                                                placeholder="Enter your email" type="text" id="Name-4" required=""
                                                class="bg-transparent input-copy new w-input color-neutral-400">
                                        </div>
                                        <div class="col-12 mt-3">
                                            <input maxlength="256" name="Name-4" data-name="Name 4"
                                                placeholder="Enter your password" type="password" id="Name-4"
                                                required=""
                                                class="bg-transparent input-copy new w-input color-neutral-400">
                                            <div class="d-flex">
                                            </div>
                                            <div class="col-12 mt-3">
                                                <label><input type="checkbox" /> I had read and accept bluemint
                                                    Limited’s Terms & Conditions and Privacy Policy.</label>
                                            </div>
                                            <div class="col-12 mt-3">
                                                <input type="submit" data-wait="Submit"
                                                    id="w-node-_50bc31af-7d59-5575-bbb5-674de4c6adc6-dba98d03"
                                                    value="Create Account"
                                                    class="btn-primary text-dark w-button bg-info1 w-100">
                                            </div>
                                            <div class="col-12 mt-3">
                                                <div class="or-divider">
                                                    <span class="or-text">OR</span>
                                                </div>
                                            </div>
                                            <div class="col-12 mt-3">
                                                <button class="btn-primary text-dark w-button bg-info1 w-100"><img
                                                        src="Images/google.svg" width="24" class="me-3" /> Sign In With
                                                    Google</button>
                                            </div>

                                            <div class="col-12 mt-3">
                                                <button class="btn-primary text-dark w-button bg-info1 w-100"><img
                                                        src="Images/facebook.svg" width="24" class="me-3" /> Sign In
                                                    With
                                                    facebook</button>
                                            </div>
                                            <div class="col-12 mt-3">
                                                <p class="text-white">Already have an account? <a href="/login"
                                                        class="text-info1"><u>Log in.</u></a></p>
                                            </div>


                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>