<div class="container ">

  <div class="container-fluid ">
    <div class="container">
      <div class="row ">
        <div class="col-12 text-white">
          <h3 class="mt-3">
            Terms of Use
          </h3>
          <p><i>Last updated: 15 April 2025</i></p>
          <p>
            Welcome to the bluemint Co Technologies website (the Website). By accessing or using this Website, you agree
            to comply with and be bound by the following terms and conditions (Terms). Please read them carefully. </p>
          <hr class="py-3">

          <h4>1. Application of terms</h4>
          <p>1.1 These Terms govern your access to and use of the Website.
          </p>
          <p>1.2 By accessing or using the Website, you:
          </p>
          <ul>

            <li>
              agree to be bound by these Terms; and
            </li>
            <li>
              confirm that, if you are using the Website on behalf of another person or entity (e.g. your employer), you
              are authorised to accept these Terms on their behalf, and that they are also bound by them.
            </li>

          </ul>
          <p>
            1.3 If you do not agree to these Terms, you are not permitted to access or use the Website and must cease
            use immediately.

          </p>
          <hr class="py-3">
          <h4 class="mt-3">2. Changes to these terms</h4>
          <p>
            2.1 We may update these Terms at any time by posting the revised version on the Website. Unless stated
            otherwise, any changes take effect immediately. </p>

          <p>2.2 It is your responsibility to review these Terms regularly. Your continued use of the Website
            constitutes your acceptance of the updated Terms.</p>
          <p>2.3 We may modify, suspend, or discontinue the Website or any part of it at any time without notice or
            liability.</p>
          <hr class="py-3">
          <h4>3. Definitions</h4>
          <p>In these Terms:</p>
          <ul>
            <li><b></b> We, us, or our means bluemint Co Technologies.</li>
            <li><b>You</b> means you as the individual user, or if applicable, the person or entity on whose behalf you
              are acting.</li>
            <li><b>Loss</b> includes, but is not limited to, loss of profits, savings, revenue, data, or any other
              damage or expense (including legal costs).</li>
            <li><b>Personal information</b> means information about an identifiable, living individual.</li>
            <li><b>Underlying System</b> means the technology and systems that underpin the Website (e.g., servers,
              networks, databases, software).</li>
            <li><b>User ID </b>means any unique identifier provided to you to access secure parts of the Website.</li>
            <li><b>Terms</b> refers to these Website Terms of Use.</li>
          </ul>
          <hr class="py-3">
          <h4 class="mt-3">4. Your obligations</h4>
          <p>4.1 You agree to:</p>

          <ul>
            <li>provide accurate, current, and complete information when interacting with us (including account
              registration); and</li>
            <li>update this information as needed.</li>
          </ul>
          <p>4.2 If you are provided with a User ID, you must:
          </p>
          <ul>
            <li>keep your User ID secure and confidential;</li>
            <li>not allow others to access the Website using your credentials; and</li>
            <li>notify us immediately at <b>support&#64;bluemintco.com</b> if you become aware of any unauthorised use.
            </li>

          </ul>
          <p>4.3 You must not:</p>
          <ul>
            <li>attempt to harm or interfere with the Website or any Underlying System (e.g., through viruses, malware,
              data scraping, or hacking); or</li>
            <li>access the Website through non-standard means such as bots, crawlers, or scraping tools, unless
              explicitly authorised by us.</li>
          </ul>
          <p>4.4 You must obtain our written permission before linking to the Website. Requests can be sent to
            <b>support&#64;bluemintco.com</b>.</p>

          <p>4.5 You indemnify us for any Loss incurred as a result of your failure to comply with these Terms,
            including any unauthorised access via your User ID.</p>
          <hr class="py-3">
          <h4>5. Intellectual property</h4>
          <p class="">
            We (and our licensors) retain all proprietary and intellectual property rights in the Website and its
            content, including all text, graphics, logos, images, audio, video, design, and underlying software.

          </p>
          <hr class="py-3">
          <h4>6. Disclaimers</h4>
          <p class="">
            6.1 To the fullest extent permitted by law, we disclaim all liability for any Loss arising from: </p>
          <ul>
            <li>the Website being unavailable, delayed, or malfunctioning;</li>
            <li>errors or omissions on the Website;</li>
            <li>exposure to malicious software or fraud risks; and</li>
            <li>third-party websites linked to or from the Website.</li>
          </ul>
          <p>6.2 We make no warranties that the Website is suitable or lawful for use in all jurisdictions. You are
            responsible for complying with your local laws.</p>
          <hr class="py-3">
          <h4>7. Liability</h4>
          <p class="">
            7.1 You access and use the Website at your own risk.
          </p>
          <p>7.2 To the maximum extent permitted by law, we are not liable for any Loss under or in connection with
            these Terms, the Website, or your use of it, regardless of the cause (including negligence).</p>
          <p>7.3 Nothing in these Terms excludes your rights under the New Zealand Consumer Guarantees Act 1993 or other
            applicable consumer laws that cannot be excluded.</p>
          <p>7.4 If our liability cannot be excluded, it is limited to NZD $100.</p>
          
          <h4>8. Privacy</h4>
          <p>8.1 You may browse the Website without providing personal information. However, some features may not be available without it.</p>
          <p>8.2 When you provide personal information, we will handle it in accordance with the <b>New Zealand Privacy Act 2020 </b>and our <b>Privacy Policy</b>.</p>
         <p>8.3 Your personal information may be used for:</p>
          <ul>
            <li>communication and support;</li>
            <li>statistical and marketing analysis;</li>
            <li>service and feature development; and</li>
            <li>any purpose you have consented to.</li>
          </ul>
          <p>8.4 We may collect technical data about your device, browser, and interactions via cookies or analytics tools. You may disable cookies in your browser, but some features may not function properly.</p>
          <p>8.5 We do not share personal information with third parties except:
          </p>
          <ul>
            <li>as required to provide services (e.g. hosting providers);</li>
            <li>in connection with business acquisitions;</li>
            <li>where required by law or law enforcement agencies.</li>
            
          </ul>
          <p>8.6 Your information may be stored on servers located outside New Zealand, in jurisdictions with varying levels of legal protection.</p>
          <p>8.7 You may request access to or correction of your personal information by emailing <b>support&#64;bluemintco.com</b>. We may charge a reasonable fee for this service.</p>
          <hr class="py-3">
          <h4>9. Suspension and termination</h4>
          <p class="">
            9.1 We may suspend or terminate your access to the Website immediately, without notice, if we believe you have violated these Terms or for any other reason we deem appropriate. </p>
          
          <p>9.2 Upon termination, you must cease all use of the Website and must not attempt to regain access.</p>
            <hr class="py-3">
          <h4>10. General</h4>
          <p>10.1 If we need to contact you, we may do so via email or by posting notices on the Website.</p>
          <p>10.2 You may not frame the Website or create links to it (except to the registration page with our written permission). We may revoke this permission at any time.</p>
          <p>10.3 These Terms are governed by the laws of New Zealand. You submit to the non-exclusive jurisdiction of New Zealand courts for any dispute related to the Website or these Terms.</p>
          <p>10.4 A waiver of any term must be in writing to be effective.</p>
          <p>10.5 If any provision is deemed unlawful or unenforceable, it will be modified or severed to the minimum extent necessary, and the remainder of the Terms will remain in effect.</p>
          <p class="mb-5">10.6 These Terms represent the entire agreement between you and us regarding the Website and supersede any prior agreements or understandings.</p>
        </div>
      </div>
    </div>
  </div>
</div>